*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    background-repeat:no-repeat ;
    background-attachment:fixed ;
}